{{ 'product-tabs.bundle.css' | asset_url | stylesheet_tag }}

<div class="color-{{ section.settings.color_scheme }}">
  <div class="product-tabs page-width">
    <div class="swiper-tabs">
      <div class="tabs swiper-wrapper">
        {%- for block in section.blocks -%}
          {%- if block.type contains 'tab_' -%}
            <div id="tab--{{ block.type }}" class="swiper-slide tab {% if block.settings.default %}tab--active{% else %}tab--inactive{% endif %}">
                <span>{{ block.settings.tab_title }}</span>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
    <div class="tabs-content">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'tab_description' -%}
            <div id="tab-content--{{ block.type }}" class="tab-content tab-content--active">
              {{ product.description }}
            </div>
          {%- when 'tab_size_guide' -%}
            <div id="tab-content--{{ block.type }}" class="tab-content tab-content--hidden">
              <div class="size-guide">
                <div class="dimensions">
                  {%- for item in product.metafields.custom.size_guide_dimensions.value -%}
                    {%- liquid
                      assign item_split = item | split: ' | '
                      assign letter = item_split[0]
                      assign dimension = item_split[1]
                      assign value = item_split[2]
                    -%}
                    <div class="dimension">
                      {% render 'icon-letters', letter: letter %}
                      <span class="value">{{ dimension }}: <span class="bold">{{ value }}</span></span>
                    </div>
                  {%- endfor -%}
                </div>
                <div class="size-guide-image">
                  <img src="{{ product.metafields.custom.size_guide_image | image_url: width: 500 }}">
                </div>
              </div>
            </div>
          {%- when 'tab_delivery_returns' -%}
            <div id="tab-content--{{ block.type }}" class="tab-content tab-content--hidden">
              Delivery & Returns
            </div>
          {%- when 'tab_reviews' -%}
            <div id="tab-content--{{ block.type }}" class="tab-content tab-content--hidden">
              Reviews
            </div>                                    
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

<script>
  let tabs = document.querySelectorAll('.tab');

  tabs.forEach(tab => {
    tab.addEventListener('click', () => {
      let tabContentId = `tab-content--${tab.id.split('--')[1]}`;
      let tabContent = document.querySelector(`#${tabContentId}`);
      let currentTab = document.querySelector('.tab--active');
      let currentTabContent = document.querySelector('.tab-content--active');

      currentTab.classList.remove('tab--active');
      currentTab.classList.add('tab--inactive');
      tab.classList.remove('tab--inactive');
      tab.classList.add('tab--active');

      currentTabContent.classList.remove('tab-content--active');
      currentTabContent.classList.add('tab-content--hidden');
      tabContent.classList.remove('tab-content--hidden');
      tabContent.classList.add('tab-content--active');      
      
    })
  });

  const mySwiper = new Swiper('.swiper-tabs', {
    slidesPerView: 2,

    breakpoints: {
      320: {
        slidesPerView: 2
      },
      480: {
        slidesPerView: 2
      },
      640: {
        slidesPerView: 3
      },
      770: {
        slidesPerView: 4
      }    
    }
  });
</script>

{% schema %}
{
  "name": "Product Tabs",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    }
  ],
  "blocks": [
    {
      "type": "tab_description",
      "name": "Tab Description",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "Product Description"
        },
        {
          "type": "checkbox",
          "id": "default",
          "label": "Default",
          "default": true
        }
      ]
    },
    {
      "type": "tab_size_guide",
      "name": "Tab Size Guide",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "Size Guide"
        },
        {
          "type": "checkbox",
          "id": "default",
          "label": "Default",
          "default": false
        }
      ]
    },
    {
      "type": "tab_delivery_returns",
      "name": "Tab Delivery & Returns",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "Delivery & Returns"
        },
        {
          "type": "checkbox",
          "id": "default",
          "label": "Default",
          "default": false
        }
      ]
    },
    {
      "type": "tab_reviews",
      "name": "Tab Reviews",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "Reviews"
        },
        {
          "type": "checkbox",
          "id": "default",
          "label": "Default",
          "default": false
        }
      ]
    }            
  ],  
  "presets": [
    {
      "name": "Product Tabs"
    }
  ]  
}
{% endschema %}